<!doctype html>
{% macro navbar(cur_page, max_page) %}
<p>
    {% if max(1, cur_page-5) != 1 %} <a href="{{ get_url_for_page(1) }}">&lt;--</a> {% endif %}
{% for ind in range((max(1, cur_page-5)), (min(max_page, cur_page+5))+1) %}
    {% if ind == cur_page %} <b>{{ind}}</b>
    {% else %} <a href="{{ get_url_for_page(ind) }}">{{ind}}</a>
    {% endif %}
{% endfor %}
    {% if min(max_page, cur_page+5) == cur_page+5 %} <a href="{{ get_url_for_page(max_page) }}">--&gt;</a> {% endif %}
</p>
{% endmacro %}
<html>
	<head>
		<title>Search</title>
	</head>
	<body>
		<h1>Search for {{query}}</h1>
		<hr>
		<form action="{{url_for('search')}}">
			<input name="q" value="{{query}}">
			<input type=submit>
		</form>
                <hr>
		{{navbar(cur_page, max_page)}}
		<table border=1>
			<tr><th>Post ID</th><th>Tags</th></tr>
			{% for id, tags in posts %}
			<tr><td><a href="{{url_for('view_post', id=id)}}">{{id}}</a></td><td>{{tags}}</td></tr>
			{% endfor %}
		</table>
		{{navbar(cur_page, max_page)}}
	</body>
</html>
